################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POCTests/bin
/POCTests/obj
/.vs/BenchmarkPOC/v16
