################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POCTests/bin
/POCTests/obj
/.vs/BenchmarkPOC/v16
/Tests/obj
/Tests/bin/Debug/net5.0
*.v2
